body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
*{
    font-family:cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
 }
  h1 {
    text-align: center;
  }
  
  #filter-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 25px;
  }
  
  button:hover {
    background-color: #005f73;
  }
  
  #product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 40%;
    margin: 10px;
    text-align: center;
    background-color: #121212;
    border-radius: 15px;
    color: white;

  }
  